<div id="<%= dom_id blog %>">
  <p>
    <strong>タイトル:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>概要欄:</strong>
    <%= blog.memo %>
  </p>
  
  <p>
    <strong>投稿写真:</strong>
    <%= image_tag blog.image %>

  </p>

</div>
