<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= blog.memo %>
  </p>
  
  <p>
    <strong>Image:</strong>
    <% if blog.image.present? %>
      <%= image_tag blog.image %>
    <% else %>
      <p>画像無し</p>
    <% end %>
    

  </p>

</div>
