<div id="<%= dom_id blog %>">
  <p>
    <strong>タイトル:</strong>
      <%=link_to(blog.title,"/posts/#{blog.id}") %>
  </p>

  <p>
    <strong>概要欄:</strong>
    <%= blog.memo %>
  </p>
  
  <p>
    <strong>投稿画像:</strong>
    <% if blog.image.present? %>
      <%= image_tag blog.image %>
    <% else %>
      <p>画像無し</p>
    <% end %>
    

  </p>

</div>
