<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= blog.memo %>
  </p>
  
  <p>
    <strong>Image:</strong>
<<<<<<< HEAD
    

=======
    <%= image_tag(@blog.image) if @blog.image.present? %>
>>>>>>> 2ede9e49191fc0d18007eeaddecd9518d8a1dcd1
  </p>

</div>
