<h1>写真の編集</h1>
<%= form_tag("/blogs/#{@post.id}/up_date") do %>
<p>タイトルの変更</p>
<textarea name="title"><%= @post.title%></textarea>
<p>概要欄の変更</p>
<textarea name="memo"><%= @post.memo%></textarea>
<input type="submit" value="保存">
<%end%>



<%#= render "form", blog: @blog %>

  <%#= link_to "Show this blog", @blog %> 
  <%#= link_to "Back to blogs", blogs_path %>