<p style="color: green"><%= notice %></p>

<h1>投稿一覧</h1>


<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%#= link_to "ブログの詳細", "blogs/show" %>
    </p>
  <% end %>
</div>

<%= link_to "新規作成", new_blog_path %>
