<h1>タイトル検索</h1>
<%= form_with url: search_blogs_path, method: :get, local: true do |f| %>
  <%= f.text_field :title %>
  <%= f.submit :search %>
<% end %>

<h3>タイトル</h3>
<% @posts.each do |post| %>
    <p></M><%=link_to(post.title,"/posts/#{post.id}") %></p>
<% end %>