<div class="top-wrapper">
    <div class ="container">
        <h1>写真投稿アプリとは</h1>
        <p>今の瞬間を未来の思い出に変えます。一瞬一瞬を大切に、写真を通じて時間を切り取りましょう。</p>
        <p>そして、個々の瞬間を一つのストーリーに結びつけ、それを通じて私たちの人生をより豊かに、深いものにします。</p>
    </div>
</div>
