/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float:left;
}

h2{
  color: blue;
}

strong {
  color: red;
}

/* ヘッダー ================================ */
header {
  background-color: #f7f2b4;
  height: 90px;
}

header li{
  list-style:none;
  float:left;
  padding:33px 20px;
}

.header-logo{
  font-size:36px;
  float:left;
  padding:20px;
}

/* トップ ================================ */
.container{
  width:1170px;
  padding:0 15px;
  margin: 0 auto;
}

.top-wrapper{
  padding-top:180px;
  padding-bottom:180px;
  background-image:url(https://www.pakutaso.com/shared/img/thumb/kumakichi0221026_TP_V.jpg);
  color:black;
  background-size:cover;
}
